<div class="jumbotron text-center">
  <h1 class="display-3">Thank You!</h1>
  </br>
  <p class="success-text">
  	<i class="fas fa-check-circle"></i>
	<%= t "Checkout successful"%>
  </p>
 </br>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <%= link_to "Continue with TripBricks", root_path, {class: "btn btn-primary btn-sm"} %>
  </p>
</div>