$fb-blue: #2851A3;

.logo-web {
  margin-top: 8px;
}
#carousel-banner-picture .carousel-control {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.banner-img {
	animation: zoominoutsinglefeatured 50s infinite ;
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

.package_item_content {
  margin: 5px;
}
.custom-size-image{
  width: 100%;
  height: 250px;
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

// input {
//   height: auto !important;
// }

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin: -10px 0 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.footer {
  left: 0;
  bottom: 0;
  background: $fb-blue;
}

.black-header {
  background: $fb-blue;
  position: relative;
  height: 70px;
}

.form-text {
  font-family: RobotoCondensedBold, RobotoBold;
  font-size: 14px;
  color: #3a64ae;
}

.navbar-left-item {
  margin: 0px 3px 0px 3px;
}

.devine-text {
  font-family: RobotoCondensedBold, RobotoBold;
  font-size: 17px;
}

.login-button {
  padding: 10px;
}

.button-signin {
  width: 100%;
}

.gray_search_form {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px 0 15px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-left .list-group-item input {
  width: auto;
}

.filter-tab .list-inline p {
  font-family: Roboto, "open sans",sans-serif, "Helvetica Neue",Helvetica,Arial !important;
  background: none;
  font-weight: bold;
  line-height: 35px;
  padding: 0 10px;
}

.edit_button {
  background-color: #337ab7;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  opacity: 0.9;
}

#user_remember_me {
  width: 20px;
}

.alert {
  margin: 20px 35% 0 35%;
  position: absolute;
  width: 30%;
  z-index: 1000;
  text-align: center;
}

 .thumbnail {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
   transition: 0.3s;
   min-width: 40%;
   border-radius: 5px;
 }

 .thumbnail-description {
   min-height: 40px;
 }

 .thumbnail:hover {
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
 }

.custom-card-image{
  width: 100%;
  height: 150px;
}

.custom-caption-text{
  margin-top: 120px;
}
.custom-fix-size{
  width: 260px; 
  height: 350px;
}

.toast {
    opacity: 1 !important;
}


.btn-grey{
    background-color:#D8D8D8;
	color:#FFF;
}
.rating-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px 15px 20px 15px;
	border-radius:3px;
}
.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
	margin-bottom:15px;
}
.review-block-name{
	font-size:14px;
	margin:10px 0;
}
.review-block-date{
	font-size:12px;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:15px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:13px;
}

.animated {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}

.custom-button{
 width: 90px;
}

.review-block-used-user{
  color: green;
}

.review-image{
  float:left;
}

.search_service_btn{
	background: #4885a2;
	    background-color: $yellow - 20;
	    border: none;
	    width: 100%;
	    text-align: center;
	    text-decoration: none;
	    padding: .6em 1.7em .6em 1.7em !important;
	    border-radius: 25px;
	    text-transform: uppercase !important;
	    font-size: 14px;
	    margin-top: 20px;
		@include transition();

		&:hover{
			background: $yellow - 60;
		}
}
.resize-logo{
  width: 60px !important;
  height: 60px !important;
}